@import "tailwindcss";

@theme {
  --color-peeps-black: #000000;
  --color-peeps-paper: #E8E5DA;
  --color-peeps-red: #D94625;
  --color-peeps-blue: #4B85C5;
  --color-peeps-yellow: #E8D65A;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}